@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif !important;
}

.right {
  float: right;
  margin: 0.3rem 1rem;
}

.breadcrumb {
  margin-bottom: 0 !important;
  background-color: transparent !important;
  border: none !important;
}

a:not([href]):not([tabindex]) {
  color: #20a8d8 !important;
  text-decoration: none !important;
}
a:not([href]):not([tabindex]):hover {
  color: #167495 !important;
  text-decoration: underline !important;
  cursor: pointer;
} 